<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge" ><![endif]-->
	<title>{% block meta_title %}Wedding invite{% endblock %}</title>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/master.css">

	<!-- custom font -->
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

	<!-- Paste Fontdeck custom font here -->

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<link rel="stylesheet" href="css/ie7.css">
	<![endif]-->

	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.customslider.js"></script>
	<script src="/js/jquery.scrollTo-min.js"></script>
	<script src="/js/jquery.krioImageLoader.js"></script>

	<!-- fancybox -->
	<script src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="/fancybox/jquery.easing-1.3.pack.js"></script>
	<script src="/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
	<link rel="stylesheet" href="/fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />

	<script src="/js/main.js"></script>

</head>
{% block body %}
<body>
The body goes here.  Not sure about what class should go on the body tag.
</body>
{% endblock %}
</html>
