{# /usr/sites/sf/survos-standard/src/Acme/MovieBundle/Resources/views/Actor/display.html.twig #}

{% extends "SurvosAdminBundle::layout.html.twig" %}

{% block content %}

<h3>Display Actor</h3>

<table>
  <tbody>
    <tr>
      <th class="right">Id</th>
      <td>{{ actor.Id }}</td>
    </tr>
    <tr>
      <th class="right">Name</th>
      <td>{{ actor.Name }}</td>
    </tr>
  </tbody>
</table>


{% endblock %}

