{% extends '::template.html.twig' %}

{% block about_her %}
<h2>Linda G. Greenberg</h3>
<p>Linda&apos;s hometown is Buzzards Bay, Massachusetts.
As a teenager, she was a lifeguard and would catch lobsters with her father along the Cape Cod Canal. She comes from a big Jewish family, and is the sixth out of seven children. She graduated from the University of Massachusetts with two degrees (Political Science and Education and Human Services). After college, Linda did a VISTA-type experience, working with Navajo elders in Flagstaff, Arizona for a couple of years. While in Flagstaff, she led hiking trips in the Grand Canyon and river trips down the Colorado River. She moved to DC and worked as an editor and writer for a health policy journal, which inspired her to go to graduate school. In 1996, she completed her doctoral degree in social welfare policy at Brandeis University in Waltham, Massachusetts. Linda loved living in Boston and being able to travel home to the Cape. But, she moved to New York City to work at a private foundation. And, then, she moved further south for a job in Baltimore at the U.S. Department of Health and Human Services, the Centers for Medicare & Medicaid Services (the same agency that gave her a grant to write her dissertation). In 2003, Linda took a sabbatical to work with Senator Kennedy's health policy office, which motivated her to move closer to DC (to Bethesda from Baltimore).  In 2005, Linda and Tac became cycling friends. And, for the past 3 years, Linda and Tac have been true companions, enjoying foreign travel and every day life.  Linda is calm and happy about how she and Tac are composing a life together.
</p>

				<div class="social">
					FIND ME ELSWHERE: <a href="http://www.facebook.com/linda.g.greenberg">Facebook</a>
				</div>
{% endblock %}

{% block about_him %}
<h2>Michael (Tac) Tacelosky </h2>
<p>
Born in Ft. Bragg N.C. to Robert and Sandy Tacelosky, he lived the life of an army brat, moving frequently, but always answered "New Jersey" to the question: "Where did you grow up?"  After completing an Electrical Engineering degree with a Computer Science concentration from Villanova, Tac spent 10 years in San Diego, where he started MicroTac Software, which made computerized translation software.  After selling the company, he moved to Washington, DC in 1994 and spent the next phase of his life fighting Big Tobacco and co-founded Smokefree DC, a grassroots group that was instrumental in getting the current smokefree legislation passed.  During that time, he played a significant role in helping to advance the efforts of smokefree activists.  Tac created a website that allowed citizens to research the voting history of their elected officials and whether they received tobacco PAC contributions. In 2011, Tac completed an 18-month certificate program in digital film making, dabbled in various film-related technologies (transcription, scene analysis), and is currently working with a panoramic-view camera manufacturer to create custom streetviews.  Tac is fortunate to be able to spend most of his professional life working on technology projects, and hopes to leverage his experience to more travel.   Tac looks forward to the next phase of his life, being married to Linda, and to whatever future that may hold.  As they both enjoy travel, photography, and biking, Tac expects future trips that combine all of those things to happen soon.
</p>

				<div class="social">
					FIND ME ELSWHERE: <a href="http://www.facebook.com/nosmoke">Facebook</a> |
					<a href="https://twitter.com/#!/tacmanDC">Twitter</a>
				</div>
{% endblock %}
